<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mr.pennyworth.fzf</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>084B9BF7-C0DF-4DEB-A79F-3C3E35EE9FE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7575EC83-5F5B-4438-B5BD-47FC9316604A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>301944AF-908E-4C88-BCA6-66D7EDF5647F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F8EDEA-AC1B-44A7-AC2A-D81F84CAF7E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F358AD9D-3FFD-4E4A-B8C1-2B52DC8A46F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3665FCDB-88B5-4140-9989-C2C1A50CEDE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1CA7957-2C6B-4431-907B-8EAFD57249E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4B001B6A-EAFE-426E-B6CD-585C7A9D569E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>301944AF-908E-4C88-BCA6-66D7EDF5647F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5E4164FD-0F52-40E4-9210-F0ABCF3DE4E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F8EDEA-AC1B-44A7-AC2A-D81F84CAF7E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F358AD9D-3FFD-4E4A-B8C1-2B52DC8A46F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7027945D-7477-4727-B2B0-534CECD4A863</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7575EC83-5F5B-4438-B5BD-47FC9316604A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7575EC83-5F5B-4438-B5BD-47FC9316604A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F8EDEA-AC1B-44A7-AC2A-D81F84CAF7E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F358AD9D-3FFD-4E4A-B8C1-2B52DC8A46F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83308E37-5229-4185-93FA-4B69492B9E59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86184322-9BB1-45BC-B3CE-C2EDDC5B3D43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84F8EDEA-AC1B-44A7-AC2A-D81F84CAF7E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C3BC9AC-5B5A-488C-88E5-4428A0593956</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C3BC9AC-5B5A-488C-88E5-4428A0593956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83308E37-5229-4185-93FA-4B69492B9E59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1CA7957-2C6B-4431-907B-8EAFD57249E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F8EDEA-AC1B-44A7-AC2A-D81F84CAF7E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F358AD9D-3FFD-4E4A-B8C1-2B52DC8A46F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE8211E2-3A0B-4A82-A9E1-2174DB623FA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E4164FD-0F52-40E4-9210-F0ABCF3DE4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mr. Pennyworth</string>
	<key>description</key>
	<string>Instant Fuzzy Search Deep Inside Folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fuzzy Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>searchfiles.sh</string>
				<key>subtext</key>
				<string>{var:filecount} files found</string>
				<key>title</key>
				<string>Search in {var:searchdir}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83308E37-5229-4185-93FA-4B69492B9E59</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>listfiles.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>listfiles.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84F8EDEA-AC1B-44A7-AC2A-D81F84CAF7E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>fzf</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>with fzf</string>
				<key>title</key>
				<string>Fuzzy Search</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>public.folder</string>
					<string>public.symlink</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>084B9BF7-C0DF-4DEB-A79F-3C3E35EE9FE2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>86184322-9BB1-45BC-B3CE-C2EDDC5B3D43</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:searchquery}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filecount</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9C3BC9AC-5B5A-488C-88E5-4428A0593956</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>searchdir</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7575EC83-5F5B-4438-B5BD-47FC9316604A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>public.folder</string>
					<string>public.volume</string>
				</array>
				<key>name</key>
				<string>Fuzzy Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>7027945D-7477-4727-B2B0-534CECD4A863</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Listing Files..."}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Listing Files...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>F358AD9D-3FFD-4E4A-B8C1-2B52DC8A46F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fd</string>
				<key>subtext</key>
				<string>'{query}' with fzf</string>
				<key>text</key>
				<string>Fuzzy Search in Desktop</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3665FCDB-88B5-4140-9989-C2C1A50CEDE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>searchdir</key>
					<string>~/Desktop</string>
					<key>searchquery</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B1CA7957-2C6B-4431-907B-8EAFD57249E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fh</string>
				<key>subtext</key>
				<string>'{query}' with fzf</string>
				<key>text</key>
				<string>Fuzzy Search in Home</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE8211E2-3A0B-4A82-A9E1-2174DB623FA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>searchdir</key>
					<string>~</string>
					<key>searchquery</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5E4164FD-0F52-40E4-9210-F0ABCF3DE4E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fg</string>
				<key>subtext</key>
				<string>'{query}' with fzf</string>
				<key>text</key>
				<string>Fuzzy Search in GoogleDrive</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B001B6A-EAFE-426E-B6CD-585C7A9D569E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>searchdir</key>
					<string>/Volumes/Cloud/GoogleDrive</string>
					<key>searchquery</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>301944AF-908E-4C88-BCA6-66D7EDF5647F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>084B9BF7-C0DF-4DEB-A79F-3C3E35EE9FE2</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>301944AF-908E-4C88-BCA6-66D7EDF5647F</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>3665FCDB-88B5-4140-9989-C2C1A50CEDE1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>4B001B6A-EAFE-426E-B6CD-585C7A9D569E</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>5E4164FD-0F52-40E4-9210-F0ABCF3DE4E1</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>7027945D-7477-4727-B2B0-534CECD4A863</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>7575EC83-5F5B-4438-B5BD-47FC9316604A</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>83308E37-5229-4185-93FA-4B69492B9E59</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>84F8EDEA-AC1B-44A7-AC2A-D81F84CAF7E5</key>
		<dict>
			<key>note</key>
			<string>- List files in $searchdir
- Output: number of listed files</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>86184322-9BB1-45BC-B3CE-C2EDDC5B3D43</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9C3BC9AC-5B5A-488C-88E5-4428A0593956</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B1CA7957-2C6B-4431-907B-8EAFD57249E9</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>CE8211E2-3A0B-4A82-A9E1-2174DB623FA9</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>F358AD9D-3FFD-4E4A-B8C1-2B52DC8A46F5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Dummy used for showing "Listing Files...", so that Alfred doesn't appear frozen</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/mr-pennyworth/alfred-fzf#readme</string>
</dict>
</plist>
